/* VARIABLES */
:root {
    /* Colors */
    --bg-purple: #9792e4;
    --bg-blue: #0084fd;
    --bg-lightblue: #b5ddff;

    --font-yellow: #fdc15f;
    --font-purple: #9792e4;
    --font-blue: #0084fd;
    --font-white: white;
    /* Sizes */
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* COMMON */
/* Typography */
body {
    font-family: 'PT Sans', sans-serif;
}

/* Utilities */
.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.ai-center {
    align-items: center;
}

.between {
    justify-content: space-between;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.gap-20 {
    gap: 20px;
}

.b-r {
    border-radius: 20px;
}

.section-padding {
    padding: 50px 20px;
}

/* HEADER */
/* Navigator */
nav {
    background-color: var(--bg-blue);
    color: var(--font-white);
}

.nav-container {
    width: 100%;
    padding: 0 50px;
    /* debug */
    height: 100px;
}

.header-links {
    top: 40px;
    right: 20px;
    display: none;
    /* debug */
}

@media screen and (min-width: 768px) {
    .nav-container {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .header-links {
        display: block;
    }

    .header-settings {
        display: none;
    }

    .nav-container {
        width: 70%;
        margin: 0 auto;
    }
}

/* Jumbotron */
.jumbotron {
    /* debug */
}

.jumbotron-wrapper {
    /* debug */
}

.j-row {
    /* debug */
}

.j-col {
    /* debug */
}

.j-card {
    margin: 20px ;
    padding: 20px;
    background-color: var(--bg-lightblue);
}

@media screen and (min-width: 768px) {
    .j-row {
        display: flex;
    }

    .topleft {
        width: 66.66%;
    }

    .topright {
        width: 33.33%;
    }
}

@media screen and (min-width: 992px) {
    .jumbotron-wrapper {
        width: 70%;
        margin: 0 auto;
    }
}