/* VARIABLES */
:root {
    /* Colors */
    --bg-purple: #9792e4;
    --bg-blue: #0084fd;
    --bg-lightblue: #b5ddff;
    --bg-white: white;

    --font-yellow: #fdc15f;
    --font-purple: #9792e4;
    --font-blue: #0084fd;
    --font-white: white;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* COMMON */
/* Typography */
body {
    font-family: 'PT Sans', sans-serif;
}

.purple {
    color: var(--font-purple);
}

.white {
    color: var(--font-white);
}

.blue {
    color: var(--font-blue);
}

.ta-center {
    text-align: center;
}

.ta-left {
    text-align: left;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.5rem;
}

/* Utilities */
.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.ai-center {
    align-items: center;
}

.jc-center {
    justify-content: center;
}

.between {
    justify-content: space-between;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.gap-20 {
    gap: 20px;
}

.m-20 {
    margin: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.p-20 {
    padding: 20px;
}

.b-r-20 {
    border-radius: 20px;
}

.b-r-40 {
    border-radius: 40px;
}

.section-padding {
    padding: 50px 20px;
}

.button-primary {
    max-width: 200px;
    margin: 20px 0;
    padding: 5px 40px;
}

.button-secondary {
    padding: 5px 10px;
}

.btn-white {
    background-color: var(--bg-white);
    color: black;
}

.btn-blue {
    background-color: var(--bg-blue);
    color: var(--font-white);
}

.btn-purple {
    background-color: var(--bg-purple);
    color: var(--font-white);
}

/* HEADER */
/* Navigator */
nav {
    background-color: var(--bg-blue);
    color: var(--font-white);
}

.nav-container {
    width: 100%;
    padding: 0 50px;
    /* debug */
    height: 100px;
}

.header-links {
    top: 40px;
    right: 40px;
    display: none;
}

@media screen and (min-width: 768px) {
    .nav-container {
        width: 100%;
    }

    .header-settings {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .header-links {
        display: block;
    }

    .header-settings {
        display: none;
    }

    .nav-container {
        width: 60%;
        margin: 0 auto;
    }
}

/* Jumbotron */
.j-col {
    background-color: var(--bg-lightblue);
}

#phone-img {
    max-width: 320px;
    margin-bottom: -20px;
    display: block;

}

@media screen and (min-width: 768px) {
    .j-row {
        display: flex;
    }

    .j-topleft {
        width: calc(100% / 2 * 3);
    }

    .j-topright {
        width: calc(100% / 3 * 2);
    }
}

@media screen and (min-width: 992px) {
    .jumbotron-wrapper {
        width: 60%;
        margin: 0 auto;
    }

    .j-card {
        display: flex;
        flex-direction: column;
    }
}

/* MAIN */
/* Planning */
.planning {
    background-color: var(--bg-purple);
    color: var(--font-white);
}

.plan-card-bottom {
    background-color: var(--bg-white);
    color: black;
}

.plan-card-bottom p {
    font-style: italic;
}

.arrow-button {
    background-color: var(--bg-purple);
    border-radius: 50%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    width: 50px;
    height: 50px;
}

@media screen and (min-width: 992px) {
    .planning-wrapper {
        width: 55%;
        margin: 0 auto;
    }

    .plan-row {
        display: flex;
        justify-content: space-around;
    }

    .plan-col {
        width: 45%;
    }

    .plan-card-bottom {
        position: absolute;
        top: 100px;
        right: 0;
    }
}

/* Testimonials */
.test-col {
    color: var(--font-white);
    background-color: var(--bg-purple);
    flex-direction: column;
}

.test-card p:last-child {
    font-weight: 700;
}

.test-img {
    text-align: center;
    background-size: cover;
    background-position: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#test-1 {
    background-image: url(../img/testimonial1.jpg);
}

#test-2 {
    background-image: url(../img/testimonial2.jpg);
}

#test-3 {
    background-image: url(../img/testimonial3.jpg);
}

@media screen and (min-width: 768px) {
    .test-col {
        flex-direction: row;
    }

    .test-img {
        padding: 50px;
    }
}

@media screen and (min-width: 992px) {
    .test-col {
        flex-direction: row;
    }

    .test-img {
        padding: 50px;
    }

    .testimonials-wrapper {
        width: 60%;
        margin: 0 auto;
    }
}

/* Features */
.features {
    background-color: var(--font-purple)
}

.feat-col {
    background-color: var(--bg-white);
}

.feat-card a {
    font-weight: 700;
}

.feat-card h3 {
    font-size: 3rem;
}

@media screen and (min-width: 768px) {
    .feat-row {
        display: flex;
        flex-wrap: wrap;
    }

    .feat-col {
        width: calc(50% - 40px);
    }
}

@media screen and (min-width: 992px) {
    .feat-row {
        display: flex;
        flex-wrap: wrap;
    }

    .feat-col {
        width: calc(100% / 3 - 40px);
    }

    .features-wrapper {
        width: 60%;
        margin: 0 auto;
    }
}

/* About Us */
.about-card {
    line-height: 35px;
}

.about-img {
    background-color: red;
    background-image: url(../img/about.jpg);
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.quote-open {
    font-size: 4rem;
    top: 0;
    right: 0;
}

@media screen and (min-width: 768px) {
    .about-card h2 {
        font-size: 3rem;
    }

    .about-row {
        display: flex;
    }

    .about-col-left {
        width: 70%;
    }

    .about-col-right {
        width: 30%;
        padding: 0 30px;
    }
}

@media screen and (min-width: 992px) {
    .about-wrapper {
        width: 55%;
        margin: 0 auto;
    }

    .about-row {
        display: flex;
    }

    .about-col-left {
        width: 70%;
    }

    .about-col-right {
        width: 30%;
        padding: 0 30px;
    }
}

/* Get Started */
.start {
    background-color: var(--bg-purple);
}

.start-wrapper {
    width: 80%;
    margin: 0 auto;
}

.start-wrapper h2{
    color: var(--font-yellow);
    font-size: 5rem;
}

.start-wrapper span {
    letter-spacing: 2px;
}

.btn-bottom {
    display: inline-block;
    width: 300px;
    padding: 25px 0;
    font-weight: 700;
    font-size: 1.2rem;
}

#privacy-link {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .start-wrapper {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px) {
    .start-wrapper {
        width: 40%;
        margin: 0 auto;
    }
}

/* FOOTER */
.footer {
    background-color: black;
}

.footer-wrapper a {
    color: var(--font-purple);
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .footer-wrapper {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px) {
    .footer-wrapper {
        width: 45%;
        margin: 0 auto;
    }
}